<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @comparendo.valor %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comparendo.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @comparendo.estado %>
</p>

<p>
  <strong>Prestamo:</strong>
  <%= @comparendo.Prestamo_id %>
</p>

<%= link_to 'Edit', edit_comparendo_path(@comparendo) %> |
<%= link_to 'Back', comparendos_path %>
